header {
  background-color: #8A2BE2;
  height: 45px;
  width: 100%;
  position:fixed;
  z-index: 9999;
}
header > .head {
  position:relative;
}
header > .head > a{
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.8em;
}

header > .head > a > img {
  margin-top: 6px;
}

header > .head > a:hover {
  cursor: pointer;
}
.header-menu{float: right; }

.goTOP {
  clear: both;
  position: fixed;
  bottom: 50px;
  right: 30px;
}

.goTOP > a > p {
  opacity: 0.5;
  background-color: #CCCCCC;
  padding: 5px;
  border-radius: 5px;
}

.goTOP > a > p:hover {
  opacity: 1;
}

/*
.head {
  float: left;
  width: 100%;
  display: flex;
  float: left;
}

.head-img {
  margin-left: 15px;
  margin-top: 4px;
}
.header-search-form {
    flex: 1 1 auto;
    height: 26px;
    margin-left: 5px;
    padding: 5px;
  }
  .input-search {
    display: block;
    float: left;

    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px 0 0 8px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    width: 200px; height: 30px;
    padding: 0 0 0 10px;
    font-size: 12px;
    color: #555555;
  }

  .input-search:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .input-search-submit {
    display: block;
    float: left;

    width: 40px; height: 30px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #CCCCCC;

    margin-left: -1px;

    vertical-align: top;
    display: inline-block;
    background-image : url('search.jpg');
    cursor: pointer;
  }

  */
