#google_translate_element {
  clear: both;
  position: fixed;
  top: 50px;
  left: 30px;
  z-index: 1000;
}

#main-section{
  clear: both; /*clear 해제*/
  display: block;
  /*width: 80%;
  margin-left: 10%;*/
  margin: 0px auto;
  width:600px;
  z-index: 5000;
}

.paper{
   width: 90%;
   height: 409.85px;
   margin: 10px auto;
   padding: 15px 15px;
   font-size: 15px;
   background: #FFFFFF;
   box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
   z-index: 10000;
}

.paper:nth-child(1){
  margin-top: 50px;
}
.paper-holder{
  width: 100%;
  height: 80%;
}
.paper-holder > p:nth-child(1){
  float: right;
}

.paper-holder > a > img{
 width: 100%;
 height: 95%;
}

.paper-content{
 margin: 0 -15px;
 margin-top: 10px;
 padding: 10px 15px;
 background: #F2F0F0;
 overflow: hidden;
}

.paper-description{
 margin: 10px 0;
}

.paper-link{
 float: left;
 width: 35px;
 height: 100%;
 margin-left: 10px;
}

.paper-text {
  margin-left: 50px;
  width: auto;
  height: 100%;
}

.paper-text:nth-child(2) {
  font-size: 1.5em;
}
.paper-text:nth-child(3) {
  font-size: 1em;
}

footer {
  font-size: 0.9em;
  position: relative;
  border-top: 1px;
  border-top-color: #DCDCDC;
  border-top-style: solid;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
    clear: both;
}
