header {
  position: relative;
}

.sign-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

#inputPassword {
  color: black;
}

footer {
  position: relative;
  border-top: 1px;
  border-top-color: #DCDCDC;
  border-top-style: solid;
  margin-top: 80px;
  padding-top: 30px;
  text-align: center;
    clear: both;
}
