<!DOCTYPE html>
<html>
<head>
	<title>Grapes</title>
	<link rel="icon" href="/Grape.png">
	<link href="dropzone.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="init.css">
	<link rel="stylesheet" href="header.css">
	<link rel="stylesheet" href="dropdown.css">
	<link rel="stylesheet" href="pomSection.css">
	<script src="dropzone.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		var key = Math.floor((Math.random() * 100000) + 1);
		$('input[name=tmpkey]').val(key);

		var loaded = false;
		var interval = setInterval(function() {
			if (loaded) { clearInterval(interval); }

			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var result = this.responseText;
					$("div[name=contentdiv]").prepend("<br><img src='" + $(result).find("url").text() + "' alt='Not an image' width='200px' height='200px'><br><br>");
					$('input[name=url]').val($(result).find("url").text());
					loaded = true;

					var xmlhttp = new XMLHttpRequest();
					xmlhttp.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							console.log("deleted");
						}
					};
					xmlhttp.open("GET", "/tempdelete/?tmpkey=" + key, true);
					xmlhttp.send();
				}
			};
			xmlhttp.open("GET", "/" + key + ".xml", true);
			xmlhttp.send();
		}, 1000);
	});
	</script>
	<script>
	function submitArticle() {
		$('div[name=contentdiv] > img').remove();
		$('input[name=content]').val($('div[name=contentdiv]').text());
		$("form[name=article]").submit();
	}
	</script>
	<script src="dropdown.js"></script>
</head>
<body>
	<header>
		<div class="head">
			<a href="/"><img src="/grapebg.png">  Grapes</a>
			<div class="header-menu">
				<ul class="outer-menu">
						<li>
								<a href="/profile"><%= name%></a>
						</li>
				</ul>
						<ul class="outer-menu">
								<li>
										<a href="#"><img src="setting.png" /></a>
										<ul class="inner-menu">
												<li><a href="/logout">로그아웃</a></li>
										</ul>
								</li>
						</ul>
				</div>
			</div>
	</header>
	<section id="dummy-section">

	</section>
	<section id="pom-section">
		<form name='article' action='/pom_receiver' method='POST'>
			<div class="pom-title">
				<p>제목:</p>
				<input type='text' name='title' size='40'>
			</div>
			<div class="pom-body">
				<p>내용</p>
				<div name='contentdiv' contentEditable='true' style='overflow-y: scroll;'>
				</div>
			</div>
				<input type="hidden" name="content" value="">
				<input type="hidden" name="url" value="">
		</form>
		<form action="/pom" class="dropzone">
			<input type="hidden" name="tmpkey" value="">
		</form>
		<input type='button' value='취소'>
		<input type='button' value='글쓰기' onclick='submitArticle();'>
	</section>
	<footer>
		Grapes ⓣ 2018<br />
		<a href="https://github.com/jong4876/Grapes_Web" target="_blank">https://github.com/jong4876/Grapes_Web</a></footer>
</body>
</html>
