<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Grapes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/Grape.png">
    <!--css-->
    <link rel="stylesheet" href="/init.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/dropdown.css">
    <link rel="stylesheet" href="/profileSection.css">

    <!--JS-->
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>
    <script src="jquery.imagesloaded.min.js"></script>
    <script src="dropdown.js"></script>
  </head>
  <body>
    <header>
      <div class="head">
        <a href="/"><img src="/grapebg.png"></a>
      </div>
      <div class="header-search-form">
            <form>
                <input type="search" class="input-search" placeholder="검색"/>
                <input type="submit" class="input-search-submit" value="" />
            </form>
      </div>
      <div class="header-menu">
        <ul class="outer-menu">
            <li>
                <a href="#"><%= name%></a>
            </li>
        </ul>
            <ul class="outer-menu">
                <li>
                    <a href="#"><img src="setting.png" /></a>
                    <ul class="inner-menu">
                        <li><a href="/profile.html"><%= name%>정보</a></li>
                        <li><a href="/logout">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <section id="dummy-section">

    </section>
    <section id="main-section">
      <div class="profile-image">
        <img src="http://placehold.it/600x750">
      </div>
      <div class="profile-info">
        <p class="profile_id">ID: <%= id%></p>
        <p class="profile_name">Name: <%= name%></p>
      </div>
    </section>
    <section id="friend-section">
      <div class="profile-friend">
        친구목록
      </div>
    </section>
  </body>
</html>
